$white: #fff;
$isabelline: #ececec;
$light-gray: #d1d1d1;
$smoky-black: #0c0910;
$granitegray: #646266;
$quicksilver: #a6a5a8;



//tipografia
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet');

$oldstandard: 'Old Standard TT';
$raleway: 'raleway';
$lato: 'lato';

$bold: 700;
$regular:400;

//sizes
$xxx-large:50px;
$xx-large:30px;
$x-large:20px;
$large:18px;
$medium:16px;
$small:14px;
$x-small:12px;

$altura-logo: 100px;